<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="cUml2Svg Model Editor"
            extensions="u2sm"
            icon="icons/model.gif"
            contributorClass="org.cuml2svg.eclipse.ui.editors.model.ModelEditorContributor"
            class="org.cuml2svg.eclipse.ui.editors.model.ModelEditor"
            id="org.cuml2svg.eclipse.ui.editors.model.ModelEditor">
      </editor>
      <editor
            class="org.cuml2svg.eclipse.ui.editors.layout.LayoutEditor"
            contributorClass="org.cuml2svg.eclipse.ui.editors.layout.LayoutEditorContributor"
            extensions="u2sl"
            icon="icons/layout.gif"
            id="org.cuml2svg.eclipse.ui.editors.layout.LayoutEditor"
            name="cUml2Svg Layout Editor"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="cUml2Svg"
            id="org.cuml2svg.eclipse.ui.editors"/>
      <view
            class="org.cuml2svg.eclipse.ui.view.ConsoleView"
            icon=""
            category="org.cuml2svg.eclipse.ui.editors"
            name="cUml2SvgConsoleView"
            id="org.cuml2svg.eclipse.ui.view.ConsoleView"/>
   </extension>

</plugin>
