<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="cUml2Svg Model Editor"
            extensions="u2sm"
            icon="icons/model.gif"
            contributorClass="org.cuml2svg.eclipse.ui.editors.ModelEditorContributor"
            class="org.cuml2svg.eclipse.ui.editors.ModelEditor"
            id="org.cuml2svg.eclipse.ui.editors.ModelEditor">
      </editor>
      <editor
            class="org.cuml2svg.eclipse.ui.editors.LayoutEditor"
            contributorClass="org.cuml2svg.eclipse.ui.editors.LayoutEditorContributor"
            extensions="u2sl"
            icon="icons/layout.gif"
            id="org.cuml2svg.eclipse.ui.editors.LayoutEditor"
            name="cUml2Svg Layout Editor"/>
   </extension>

</plugin>
